<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>
  Arvostetuja oluita: <%= @user.ratings.count %>
</p>
<p>
  <% if not @user.ratings.empty? %>
      Arvostelujen keskiarvo: <%= @user.average_rating%>
    <h2>
      Ratings:
    </h2>
    <% @user.ratings.each do |rating| %>

        <li>
          <%= rating %>
          <% if @user == current_user %>
              <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </li>

    <% end %>
<% end %>


</p>
<p>
<h2>Olutseurat:</h2>
<% @user.beer_clubs.each do |beer_club|%>
  <li> <%=link_to beer_club.name, beer_club%> </li>
<% end %>
</p>



<% if @user==current_user%>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

favorite beer: <%= @user.favorite_beer%><br>
favorite style: <%= @user.favorite_style%><br>
favorite brewery: <%= @user.favorite_brewery.name%>