<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>
  Arvosteltuja oluita: <%= @user.ratings.count %>
</p>
<p>
  <% if not @user.ratings.empty? %>
      Arvostelujen keskiarvo: <%= @user.average_rating%>
    <h2>
      Ratings:
    </h2>
    <% @user.ratings.each do |rating| %>

        <li>
          <%= rating %>
          <% if @user == current_user %>
              <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </li>

    <% end %>
<% end %>


</p>
<p>
  <% if not @user.beer_clubs.nil? %>
    <h2>Olutseurat:</h2>
    <% @user.beer_clubs.each do |beer_club|%>
        <li> <%=link_to beer_club.name, beer_club%> </li>
    <% end %>
<% end%>
</p>



<% if @user==current_user%>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %> |
    <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<br>

<%if not @user.favorite_beer.nil? %>
Favorite beer: <%= @user.favorite_beer%><br>
    <%end%>
<% if not @user.favorite_style.nil? %>
Favorite style: <%= @user.favorite_style.name%><br>
    <%end%>
<% if not @user.favorite_brewery.nil? %>
Favorite brewery: <%= @user.favorite_brewery.name%>
<%end%>