

<p>
<div class="col-xs-4">
  <h2 class="sub-header">Best beers</h2>
  <div class="table-responsive">

    render <%= render 'list', objects:Beer.top(3)%>
  </div>
</div>
<div class="col-xs-4">
  <h2 class="sub-header">Best breweries</h2>
  <div class="table-responsive">

    render <%= render 'list', objects:Brewery.top(3)%>
  </div>
</div>
<div class="col-xs-4">
  <h2 class="sub-header">Best styles</h2>
  <div class="table-responsive">

    render <%= render 'list', objects:Style.top(3)%>
  </div>
</div>
</p>

<div class="col-xs-6"><h2>Recent ratings</h2></div>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Username</th>
    <th>Favorite beer</th>
    <th>Preferred Style</th>
    <th>Favorite Brewery</th>
    <th>Ratings</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>

  <% @top_users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user  %></td>
        <td><%= user.favorite_beer.name%></td>
        <td><%= user.favorite_style.name %></td>
        <td><%= user.favorite_brewery.name %></td>
        <td><%= user.ratings.count%></td>
      </tr>
  <% end %>
  </tbody>
</table>


<div class="col-xs-6"><h2>Recent ratings</h2></div>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Beer</th>
    <th>Time</th>
    <th>Rating</th>
    <th>User</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <p> Number of ratings: <%= @recent_ratings.count %> </p>
  <% @recent_ratings.each do |rating| %>
      <tr>
        <td><%= link_to rating.beer.name, rating  %></td>
        <td><%= rating.updated_at%></td>
        <td><%= rating.score %></td>
        <td><%= link_to rating.user.username, rating.user %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<% if current_user %>
    <%= link_to 'Create rating', new_rating_path, class:"btn btn-primary" %>
<% end %>
<p>To be completed...</p>