<p id="notice"><%= notice %></p>

<p>

<h2>
  <strong>Name:</strong>
  <%= @brewery.name %>
</h2>

</p>
<p>
  Oluiden lukumäärä:
  <%= @brewery.beers.count%>
</p>

<p>
  <strong>Established at</strong>
  <i><%= @brewery.year %></i>
</p>

<h2>
  Oluet:
</h2>

<p>

  <% @brewery.beers.each do |beer| %>
    <li>
      <%= link_to beer.name, beer %>
    </li>
  <% end %>
</p>

<p>
  <% if !@brewery.ratings.empty? %>
  This brewery has <%= pluralize(@brewery.ratings.length, 'rating', 'ratings') %>
      <br>
      Average: <%= @brewery.average_rating %>
  <% end %>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
