<p id="notice"><%= notice %></p>

<p>
  <h1><%= @place.name%></h1>
</p>

<p>
  <%= @place.street%>
<br>
  <%= @place.zip  %>
  <%=@place.city%>

</p>

<iframe src=<%=@place.blogmap.sub! 'http', 'https'%> </iframe>

